.title {
    margin: 1em;
    cursor: pointer;
}

#loading-img {
    margin: 5em;
}

div {
    text-align: justify;
}

.content > * {
    border: none !important;
}

body,
.well,
.pagination,
#loading-pagination,
#search,
.input {
    text-align: center;
}

.well,
#loading-pagination {
    margin-top: 1em;
}

#search {
    width: 50%;
}

